@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(242, 242, 242);
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

#root {
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#root div {
  border-radius: 5px;
}

.title, .general-info, .education, .employment, .skills, .C-V {
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div.title-container {
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}

label {
  display: grid;
  gap: 0.3rem;
}

input {
  padding: 0.5rem;
  border: none;
  background-color: rgb(234, 234, 239);
  width: 80%;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}